.ux-animation {
  transition-duration: .5s;
  -webkit-transition-duration: .5s;
  transform: translateZ(0);
  -webkit-transform: translateZ(0);
  outline: none;
}
.ux-animation.base {
  opacity: 1;
}
.ux-animation.base_act {
  opacity: .6;
}
.ux-animation.box-shadow_act {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.ux-animation.scale {
  transform: scale(1);
  transition-duration: .2s;
  -webkit-transition-duration: .2s;
}
.ux-animation.scale_act {
  transform: scale(0.9);
}
.ux-animation[disabled='disabled'] {
  background-color: #ccc;
  color: #fff;
}
